*{
    box-sizing: border-box;
}
body{
    margin: 0 auto;
}
header{
    background-color: #f8f8f8;
    height: 100vh;
    padding: 30px 20px;
}

.search #tags option{
    padding: 20px 0;
} 

#news-graph{
    padding: 20px 0;
}
#news-graph .graph{
    width:70%;
    padding: 20px 0;
    position: relative;
    margin: 0 auto;
}
#news-graph .graph #main-component{
    width: 43%;
    top: 23vh;
    left: 25vh;
    border:0px solid #fff;
    border-radius: 15px;
    height: 350px;
    position: absolute;
    box-shadow: 1px 1px 12px 3px rgba(0, 0, 0, 0.57);
    overflow: hidden;
}
#news-graph .graph #main-component .main-photo{
    background-image: url('../images/news-banner.jpg');
    background-position: top;
    background-size: cover;
    height: 120px;
}

#news-graph .graph #main-component .news-content{
    padding: 15px 20px;
}

#news-graph .graph #main-component .main-footer{
    padding: 10px 20px;
    background-color: #414141;
    color: #fff;
    bottom: 0;
    width: 100%;
    position: absolute;
}

#news-graph .graph .component{
    width: 200px;
    height: 120px;  
    border:0px solid #fff;
    border-radius: 100px;
    cursor: pointer;
    position: absolute;
    box-shadow: 1px 1px 7px 1px rgba(0, 0, 0, 0.57);
    text-align: center;
}

#news-graph .graph .component .component-photo{
    width: 200px;
    height: 120px;  
    border-radius: 100px;
    color: #fff;
    height: 100%;
    width: 100%;
    position: absolute;
    filter: blur(1.2px);
    -webkit-filter: blur(1.2px);

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#news-graph .graph .component .component-photo::before{
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    z-index: 55;
    content: '';
    border-radius: 100px;
    width: 100%;
    height: 100%;
    left: 0;
}

#news-graph .graph .component .component-headline{
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 40px 0;
    text-align: center;
    z-index: 100;
    color: #fff;
}